*{
	margin: 0px;
}
html{
	margin:30px;
	background: url(bk-text.png);
	background-attachment: fixed;
}

#main
{
	width:1100px;
	margin-left: auto;
	margin-right: auto;
	border:1px solid black;
	border-radius:10px;
	padding:3px;
	background: url(bk.png);
}

#header{
	height:130px;
	background: url(logo.png) no-repeat left top,url(logo.png) no-repeat right top;
	background-color: white;
}

#header-content
{
	margin-left: 140px;
	margin-right: 140px;
	text-align: center;
	
}

.clear{
	clear:both;
}

#part-one{
	float:left;
	width: 15%;

}
#part-two{
	float:left;
	width:65%;
	border-left:1px solid black;
	border-right:1px solid black;
	min-height:500px;
	padding: 3px;

}
#part-three{
	float:right;
	width: 15%;

}

#footer{
	height:100px;
	background: red;
}

#menu {
	background: brown;
	color:white;
	padding:10px; 
}

#menu a{
	color:white;
	text-decoration: none;
	
}

.fl{
	float:left;
}
.fr{
	float:right;
}
