html, body, div, table, h1,h2,h3,h4,h5
{
	margin:0px;
}

#container
{
	width:100%;
	border-left:1px solid black;
	border-right:1px solid black;
	
	margin-left: auto;
	margin-right:auto;
}
#header
{
	height:100px;
}
#header:hover
{
	/* */
}
#header h1{
	font-size:400%;
	text-align:center;
	text-shadow:4px 4px 4px #aaa;
}

#nav-bar
{
	background:rgb(255,0,0);
	padding: 10px;
}

#nav-bar a{
	color:white;
	text-decoration: none;
	padding:8px;
}

#nav-bar a:hover{
	 background: black;
	 border-radius:10px;
	 	
}

#content
{
	min-height:400px;
}


#content p{
	line-height: 200%;	
}

.text{
	font-family:"Lucida Console";
	text-align: justify;
	padding-left:50px;
	padding-right:50px;
}

.text:first-letter{
	font-size:30px;
	color:red;
}

.text:hover{
	background: rgb(233,222,0);
}

#footer
{
	background: black;
	color:white;
	padding: 10px;
}
#footer p{
	text-align: center;
}

#footer a
{
	color:white;
	text-decoration: none;
	padding-left:5px;
	padding-right:5px;
	font-size:70%;
}

.text-right
{
	text-align: right;
}


.info-table
{
   margin-left: 40px;
   border-bottom:1px solid black;
   border-right:1px solid black;
}

.info-table td
{
	padding:5px;
	border-left:1px solid black;
}

.info-table thead{
	background: black;
	color:white;
}

.info-table > tbody{
	background: #eee;
}

.info-table > tbody > tr:nth-child(even){
	background: #ad0;
}


p:nth-child(odd){
  color:red;
}


code span
{
	color:blue;
} 
