table
{
  border:1px solid black;
}

table thead
{
  background:black;
  color:white;
}
table td
{
  border-left:1px solid black;
  padding:4px;
  border-top:1px solid black;
}

table th
{
 padding:4px;
}