 

p
{
	 border:1px solid black;
     width:100px;
     padding:10px 10px 10px 90px;	
}


input[type="text"]
{
	padding:5px 5px 5px 30px;
	border:1px solid #aaa;
	border-radius:0px 20px 20px 0px;
	box-shadow: 4px 4px 5px #aaa;
	background: red;
	background-image: url(correct.png);
	background-repeat:no-repeat;
		background-position:left center;
}


.back-test-1
{
	
	background-image:url(image1.png);
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:left top;
	height:400px;
	
}

