html, body, div, table, h1,h2,h3,h4,h5
{
	margin:0px;

}

html,body{
	height: 100%;
}

#container
{
	width:800px;
	border:2px solid black;
	margin-left: auto;
	margin-right:auto;
	border-radius: 30px;
	height: 100% !Important;
	background: white;
	
}
#header
{
	height:100px;
	background-color:lightyellow;
	border-top:1px solid black;
	border-bottom: 1px solid black;
	
	
}


#header h1{
	font-size:400%;
	text-align:center;
	text-shadow:5px 5px 5px #aaa;
}

#nav-bar
{
	background:lightgreen;
	padding: 10px;
	border-bottom: 1px solid red;
}

#nav-bar a{
	color:black;
	text-decoration: none;
	padding:8px;
	font-size: 110%;
}

#nav-bar a:hover{
	 background:white;
	 border-radius:30px;
	 	
}

#right-side{
	min-height:400px;
	float:right;
	width:20%;
	padding: 10px;
	border-left:2px solid black;
	 
}
#left-side{
	float:left;
	border-right:1px solid black;
	width:20%;
	min-height:400px;
	padding: 10px;
	padding-left: 10px;
}
.clear{
	clear:both;
}

#content h1{
	font-family:"Lucida Console";
	text-align: justify;
	padding-left:50px;
	padding-right:50px;
}

#content h1:first-letter{
	font-size:30px;
	color:red;
}

#content h1:hover{
	background: rgb(233,222,0);
}
#content h2{
	font-family:"Arial Black";
	text-align: justify;
	padding-left:50px;
	padding-right:50px;
}

#content h2:first-letter{
	font-size:30px;
	color:red;
}

#content h2:hover{
	background: rgb(233,222,0);
}

#footer
{
     
	color:black;
	padding: 15px;
	background-color: lightyellow;
	
}
#footer p{
	text-align: center;
}

#footer a
{
	color:black;
	text-decoration: none;
	padding-left:5px;
	padding-right:5px;
	font-size:80%;
}
#footer a:hover{
	background-color: red;
}
.text-right
{
	text-align: right;
	background-image: url(dp.jpg);
	background-repeat:no-repeat;
}
.box{
 	font-family:"Comic Sans MS";
 	color: rcb(123,232,222);
 	border: 1px solid #0000FF;
  	padding: 10px 10px 10px 20px;
  	height: 100px;
  	border-radius: 20px;
  	
 	}
.i{
	background-image: url(d.png);
	background-repeat:no-repeat;
	background-size: 10px;
	text-align: justify;
	
}
.photo{
	background-image: url(dp.jpg);
	padding:10px;
	background-position: left;
	background-repeat:no-repeat;
	
	background-size:90px;
}
.photo1{
	background-image: url(umi.jpg);
	background-repeat: no-repeat;
	background-size: 100px;
	height:200px;
	width:120px;
}
body{
	
	background: #ddd;
}

.left
{
	text-align:left;
	text-decoration: none;
	font-family: "Arial Black";
	color: red;
	padding: 5px;
}

.left-float
{
	float:left;
}

.right-float
{
	float:right;
}

